@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Eagle Lake', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background) url('/images/fondo7.png') no-repeat center center fixed;
  background-size: 1490px 780px;
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* 🎨 Clases personalizadas de estilo */
.bg-glamYellow{
  background-color: #DAA85B;
}
.text-title{
  color:#DAA85B
}
.text-glow {
  color: #DAA85B;
  text-shadow: 0 0 0px #fff700, 0 0 20px #ffd700;
}

.text-subtle-glow {
  text-shadow: 0 0 6px #fff700;
}

.btn-link {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-width: 1px;
  border-color: #DAA85B;
  font-weight: 600;
  border-radius: 0.375rem;
  transition: all 0.2s;
}

.btn-link:hover {
  background-color: black;
  color: #DAA85B;
}
